{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="4000">
          <img class="img-fluid" src="{% static 'belyi_home.webp' %}" />
        </div>
        <div class="carousel-item" data-interval="4000">
          <img class="img-fluid" src="{% static 'belyi_home_2.webp' %}" />
        </div>
        <div class="carousel-item" data-interval="4000">
          <img class="img-fluid" src="{% static 'belyi_home_3.webp' %}" />
        </div>
      </div>
    </div>
{% endblock %}
